<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FonbetParser</title>
</head>
<body>
<h1>FonbetParser</h1>
<code class="events"></code>
<script type="text/javascript">
    window.addEventListener('load', () => {
        $.get(
            "/live-sport-events",
            {sportName: 'Футбол'},
            function (data) {
                console.log(data)
                $(".events").html("");
                $(".events").html(JSON.stringify(data));
                data = null
            }
        );
        setInterval(() => {
            $.get(
                "/live-sport-events",
                {sportName: 'Футбол'},
                function (data) {
                    console.log(data)
                    $(".events").html("");
                    $(".events").html(JSON.stringify(data));
                    data = nu;;
                }
            );

            return false;
        }, 10000);
    });
</script>
</body>
</html>